<!-- Array Anidado -->
<!-- <ul>
    <li *ngFor="let objeto of objetos">
      {{ objeto.propiedad1 }} - {{ objeto.propiedad2 }} - {{ objeto.propiedad3 }}
      <span *ngIf="objeto.examen">Examen</span>
    </li>
  </ul> -->



<!-- Objeto Anidado -->
  <!-- <div>
    <p>ID: {{ objetoAnidado.id }}</p>
    <p>Nombre: {{ objetoAnidado.nombre }}</p>
    <div>
      <p>ID subobjeto: {{ objetoAnidado.subobjeto.id }}</p>
      <p>Nombre subobjeto: {{ objetoAnidado.subobjeto.nombre }}</p>
      <div>
        <p>ID subsubobjeto: {{ objetoAnidado.subobjeto.subsubobjeto.id }}</p>
        <p>Nombre subsubobjeto: {{ objetoAnidado.subobjeto.subsubobjeto.nombre }}</p>
      </div>
    </div>
  </div>

 -->

  <!-- <div>
    <form>
      <label>Ingrese un número:</label>
      <input type="text"> 
      <button type="button" (click)="generarTabla(numero)">Generar tabla</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Operando</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let num of numeros">
          <td>{{ numero }} x {{ numeros.indexOf(num) + 1 }}</td>
          <td>{{ num }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->



  




