<div class="contenedor">
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">1 x {{numero}}= {{(i+1)*1}}</h1>
    </div>

    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">2 x {{numero}}= {{(i+1)*2}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">3 x {{numero}}= {{(i+1)*3}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">4 x {{numero}}= {{(i+1)*4}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">5 x {{numero}}= {{(i+1)*5}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">6 x {{numero}}= {{(i+1)*6}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">7 x {{numero}}= {{(i+1)*7}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">8 x {{numero}}= {{(i+1)*8}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">9 x {{numero}}= {{(i+1)*9}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">10 x {{numero}}= {{(i+1)*10}}</h1>
    </div>
    <h1 *ngFor="let numero of numero; let i = index;">1 x {{numero}}= {{(i+1)*11}}</h1>
    </div>

    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">2 x {{numero}}= {{(i+1)*12}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">3 x {{numero}}= {{(i+1)*13}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">4 x {{numero}}= {{(i+1)*14}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">5 x {{numero}}= {{(i+1)*15}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">6 x {{numero}}= {{(i+1)*16}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">7 x {{numero}}= {{(i+1)*17}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">8 x {{numero}}= {{(i+1)*18}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">9 x {{numero}}= {{(i+1)*19}}</h1>
    </div>
    <div class="cont">
        <h1 *ngFor="let numero of numero; let i = index;">10 x {{numero}}= {{(i+1)*20}}</h1>
    </div>
